<template>
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-progress-circular
            :size="200"
            width="10"
            color="primary"
            indeterminate
            v-if="pending"
          />
          <v-col
            cols="12"
            sm="8"
            md="4"
            v-if="!pending"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Авторизация</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Login"
                    name="login"
                    type="text"
										v-model="user.login"
                  />

                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    type="password"
										v-model="user.password"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn 
                  to="/register"
									color="primary"
								>
									Регистрация
								</v-btn>
                <v-spacer />
                <v-btn 
									@click="login()"
									color="primary"
								>
									Войти
								</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
</template>

<script>
  export default {
		name: 'Login',
		methods: {
			async login () {
			  this.$store.commit('SET_AUTH_PENDING', true)
        await this.$store.dispatch('LOGIN', this.user)
			  this.$store.commit('SET_AUTH_PENDING', false)
        this.$router.push({ name: 'account' })
      },
		},
    props: {
    },
    computed: {
      pending () {
        return this.$store.getters.AUTH_PENDING
      }
    },
		data: () => ({
			user: {
				login: '',
				password: ''
			}
		})
  }
</script>