<template>
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-progress-circular
            :size="200"
            width="10"
            color="primary"
            indeterminate
            v-if="pending"
          />
          <v-col
            cols="12"
            sm="8"
            md="4"
            v-if="!pending"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Регистрация</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Email"
                    name="email"
                    type="text"
										v-model="user.email"
                  />
                  <v-text-field
                    label="Имя"
                    name="email"
                    type="text"
										v-model="user.name"
                  />
                  <v-text-field
                    label="Адрес"
                    name="email"
                    type="text"
										v-model="user.address"
                  />
                  <v-text-field
                    id="password"
                    label="Пароль"
                    name="password"
                    type="password"
										v-model="user.password"
                  />
                  <v-text-field
                    id="confirmPassword"
                    label="Подтверждение пароля"
                    name="confirmPassword"
                    type="password"
										v-model="user.confirmPassword"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn 
									@click="register()"
									color="primary"
								>
									Принять
								</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
</template>

<script>
  export default {
		name: 'Login',
		methods: {
			async register () {
			  this.$store.commit('SET_AUTH_PENDING', true)
        await this.$store.dispatch('REGISTER', this.user)
      }
		},
    props: {
    },
    computed: {
      pending () {
        return this.$store.getters.AUTH_PENDING
      }
    },
		data: () => ({
			user: {
        email: '',
        name: '',
        address: '',
        password: '',
        confirmPassword: '',
			}
		})
  }
</script>