<template>
  <v-dialog 
    v-model="dialog" 
    persistent 
    max-width="600px"
  >
    <template 
      v-slot:activator="{ on }"
    >
      <v-btn 
        color="info" 
        outlined
        v-on="on"
      >
        {{ title }} 
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span 
          class="headline"
        >
          Заказ 
        </span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            
            <v-col 
              cols="12"
            >
              <span 
                label="Продукт" 
              >
							{{ product.Name }} ( {{ product.Code }} )
              </span>
            </v-col>
            <v-col 
              cols="12"
            >
              <span 
                label="Цена (шт.)" 
              >
							{{ product.Price }}
              </span>
            </v-col>
						<v-col 
              cols="12"
            >
              <span 
                label="Категория" 
              >
							{{ product.Category }}
              </span>
            </v-col>
            <v-col 
              cols="12"
            >
              <v-text-field 
                label="Количество" 
                type="number"
                required
                v-model="count"
                min="1"
              >
              </v-text-field>
            </v-col>
            
          </v-row>
        </v-container>
        <small>
        </small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn 
          color="blue darken-1" 
          text 
          @click="dialog = false"
        >
          Закрыть
        </v-btn>
        <v-btn 
          color="blue darken-1" 
          text 
          @click="add"
        >
          Сохранить
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'AddBasketModal',
    props: {
			title: '',
			product: null,
			method: Function
    },
    created () {
    },
    data: () => ({
			dialog: false,
      count: 1,
    }),
    methods: {
      add () {
        this.dialog = this.method({ product: this.product, count: this.count })
      }
    }
  }
</script>