<template>
 <v-layout
    justify-center
    wrap
    row
    pt-4
  >
    <v-flex xs9>
      <v-row
        class="mx-5 my-5"  
      >
      </v-row>
      <v-card
        v-for="(item, i) in items"
        :key="`item-${i}`"
        class="mb-2"
      >
        <v-layout fill-height>
          <v-flex pa-3>
            <v-layout
              align-space-around
              justify-space-around
              fill-height
              column
            >
              <v-flex>
                <div class="headline">{{ item.Product.Name }}</div>
                <v-divider></v-divider>
              </v-flex>
              <v-flex xs1>
                <div class="">Код: {{ item.Product.Code }}</div>
              </v-flex>
              <v-flex xs1>
                <div class="">Цена: {{ getItemPrice(item) }}</div>
              </v-flex>
              <v-flex xs1>
                <div class="">Категория: {{ item.Product.Category }}</div>
              </v-flex>
							<v-flex xs1>
                <div class="">Количесто: {{ item.ItemsCount }}</div>
              </v-flex>
							<v-flex xs1>
                <div class="">Сумма: {{ item.ItemsCount * getItemPrice(item) }}</div>
              </v-flex>

              <v-card
                class="d-flex justify-end"
                flat
                tile
              >
                    <basket-modal 
											v-bind="{
												item: cloneItem(item),
												method: editItem
											}"
										/>
                    <v-btn
                      class="mx-5"
                      color="error"
											@click="$store.dispatch('DELETE_ITEM', item)"
                    >
                      Удалить
                    </v-btn>
              </v-card>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-card>
      <v-flex
        class="my-10 d-flex justify-center"  
      >
				<v-btn
					v-if="items.length > 0"
					class="mx-5"
					color="info"
					@click="order()"
				>
					Заказать
				</v-btn>
				<div 
					v-if="items.length === 0"
					class="headline"
				>
					Ваша корзина пуста
				</div>
      </v-flex>
    </v-flex>
  </v-layout>
</template>

<script>
import BasketModal from '@/components/BasketModal'

  export default {
		name: 'Basket',
		components: {
			BasketModal
		},
		methods: {
			editItem (payload) {    
        if (payload.ItemsCount < 1) {
          alert('Количество должно быть больше 0')
          return true
        }
        
        for (var key in payload) 
          this.currentItem[key] = payload[key]

        this.$store.dispatch('UPDATE_ITEM', payload)
        
        return false
			},
			async order () {
				await this.$store.dispatch('SAVE_ORDER', this.items)
			},
      getItemPrice (item) {
        return item.Product.Price - item.Product.Price * (this.$store.getters.AUTH.discount / 100)
      },
      cloneItem (payload) {
        this.currentItem = payload
        let clone = {}
        for (var key in payload) 
          clone[key] = payload[key]

        return clone
      }
		},
		computed: {
			items () {
				return this.$store.getters.ITEMS
			}
    },
    data: () => ({
      currentItem: null
    })
  }
</script>