<template>
  <v-dialog 
    v-model="dialog" 
    persistent 
    max-width="600px"
  >
    <template 
      v-slot:activator="{ on }"
    >
      <v-btn 
        color="info" 
        outlined
        class="mx-5"
        v-on="on"
        @click="getOrder()"
      >
        {{ title }} 
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span 
          class="headline"
        >
          Заказ №{{ order.OrderNumber }} 
        </span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col 
              cols="12" 
            >
              <v-menu
                v-model="menu"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="order.ShipmentDate"
                    label="Дата выполнения"
                    prepend-icon="mdi-calendar-today"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="order.ShipmentDate" @input="menu = false"></v-date-picker>
              </v-menu>
            </v-col>
            <v-col 
              cols="12" 
            >
              <v-select
                :items="items"
                label="Статус"
                v-model="order.Status"
                solo
              ></v-select>
            </v-col>
          </v-row>
        </v-container>
        <small>
        </small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn 
          color="blue darken-1" 
          text 
          @click="dialog = false"
        >
          Закрыть
        </v-btn>
        <v-btn 
          color="blue darken-1" 
          text 
          @click="method(order); dialog = false"
        >
          Сохранить
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'EditOrderModal',
    props: {
      title: '',
      orderId: null,
      method: Function
    },
    methods: {
      async getOrder () {
        this.order = await this.$store.dispatch('GET_ORDER', this.orderId)
      }
    },
    data: () => ({
      dialog: false,
      menu: false,
      items: ['Новый', 'Выполняется', 'Выполнен'],
      order: {
        Id: '',
        OrderDate: '',
        ShipmentDate: '',
        OrderNumber: 0,
        Stutus: '',
        User: {
          Id: '',
          CustomerId: '',
          Email: '',
          Username: '',
          Name: '',
          Code: '',
          Address: '',
          Discount: 0.0,
        },
        Items: [{
          Id: '',
          ItemsCount: 0,
          ItemPrice: 0.0,
          Product: {
            Id: '',
            Code: '',
            Name: '',
            Price: 0.0,
            Category: ''
          }
        }]
      }
    }),
  }
</script>