<template>
  <v-layout
    justify-center
    wrap
    row
    pt-4
  >
    <v-flex xs9>
      <v-row
        class="mx-5 my-5"  
      >
      <v-select
        :items="items"
        label="Статус"
        v-model="status"
        solo
      ></v-select>
      </v-row>
      <v-card
        v-for="(order, i) in orders"
        :key="`order-${i}`"
        class="mb-2"
      >
        <v-layout fill-height>
          <v-flex pa-3>
            <v-layout
              align-space-around
              justify-space-around
              fill-height
              column
            >
              <v-flex>
                <div class="headline">Заказ №{{ order.OrderNumber }}</div>
                <v-divider></v-divider>
              </v-flex>
              <v-flex xs1>
                <div class="">Дата заказа: {{ order.OrderDate }}</div>
              </v-flex>
              <v-flex xs1>
                <div class="">Дата выполнения: {{ order.ShipmentDate }}</div>
              </v-flex>
              <v-flex xs1>
                <div class="">Статус: {{ order.Status }}</div>
              </v-flex>

              <v-card
                class="d-flex justify-end"
                flat
                tile
              >
                    <order-modal 
                      v-bind="{
                        title: 'Заказ',
                        orderId: order.Id
                      }"
                    />		
                    <edit-order-modal 
                      v-if="isAdmin"
                      v-bind="{
                        title: 'Изменить',
                        orderId: order.Id,
                        method: editOrder
                      }"
                    />								
                    <v-btn
                      v-if="!isAdmin && order.Status === 'Новый'"
                      class="mx-5"
                      color="error"
                      @click="$store.dispatch('DELETE_ORDER', order)"
                    >
                      Удалить
                    </v-btn>
              </v-card>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-card>
      <v-flex
        class="my-10 d-flex justify-center"  
      >
      <v-btn 
        xs10
        class="mx-2"
        color="info"
        outlined
        @click="page = 1; getOrders()"
      >
        1
      </v-btn>
      <v-btn 
        xs10
        v-if="page - 1 > 1"
        class="mx-2"
        color="info"
        outlined
        @click="page -= 1; getOrders()"
      >
        {{page - 1}}
      </v-btn>
      <v-btn 
        xs10
        v-if="page != 1 && page != pages"
        class="mx-2"
        color="info"
        outlined
      >
        {{page}}
      </v-btn>
      <v-btn 
        xs10
        v-if="page + 1 < pages"
        class="mx-2"
        color="info"
        outlined
        @click="page += 1; getOrders()"
      >
        {{page + 1}}        
      </v-btn>
      <v-btn 
        xs10
        v-if="page < pages"
        class="mx-2"
        color="info"
        outlined
        @click="page = pages; getOrders()"
      >
        {{pages}}
      </v-btn>
      </v-flex>
    </v-flex>
  </v-layout>
</template>

<script>
import OrderModal from '@/components/OrderModal'
import EditOrderModal from '@/components/EditOrderModal'

export default {
  name: 'Orders',
  props: {
    test: Boolean
  },
  components: {
      OrderModal,
      EditOrderModal,
  },
  computed: {
    orders () {
      return this.$store.getters.ORDERS
    },
    isAdmin () {
      return this.$store.getters.AUTH.isAdmin
    },
    isAuth () {
      return this.$store.getters.AUTH.isAuth
    }
  },
  created () {
    this.getOrders()
  },
  methods: {
		async getOrders () {
      await this.$store.dispatch('GET_ORDERS', this.page)
      this.pages = this.$store.getters.O_PAGES
    },
    async getOrdersF (status) {
      await this.$store.dispatch('GET_ORDERS_F', { page: this.page, status: status })
      this.pages = this.$store.getters.O_PAGES
    },
    async editOrder (paylaod) {
      await this.$store.dispatch('EDIT_ORDER', paylaod)
    }
  },
  watch: {
    status: {
      handler: async function (newVal, oldVal) {
        this.page = 1
        if (newVal === 'Все')
          await this.getOrders()
        else
          await this.getOrdersF(newVal)
      },
      deep: true
    }
  },
  data: () => ({
    page: 1,
    pages: 1,
    status: 'Все',
    items: ['Новый', 'Выполняется', 'Выполнен', 'Все']
  })
}
</script>
