<template>
  <v-dialog 
    v-model="dialog" 
    persistent 
    max-width="600px"
  >
    <template 
      v-slot:activator="{ on }"
    >
      <v-btn 
        color="info" 
        outlined
        class="mx-5"
        v-on="on"
        @click="getOrder()"
      >
        {{ title }} 
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span 
          class="headline"
        >
          Заказ №{{ order.OrderNumber }} 
        </span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row
            class="my-5 justify-center"
          >
            <v-card>
              <v-col
                cols="12"
              >
                <div class="headline">Заказчик</div>
                <v-divider></v-divider>
              </v-col>
              <v-col 
                cols="12"
              >
                <span
                  label="Имя" 
                >
                  Имя: {{order.User.Name}}
                </span>
              </v-col>
              <v-col 
                cols="12"
              >
                <span
                  label="Email" 
                >
                  Email: {{order.User.Email}}
                </span>
              </v-col>
              <v-col 
                cols="12"
              >
                <span
                  label="Код" 
                >
                  Код: {{order.User.Code}}
                </span>
              </v-col>
              <v-col 
                cols="12"
              >
                <span
                  label="Адрес" 
                >
                  Аддрес: {{order.User.Address}}
                </span>
              </v-col>
              <v-col 
                cols="12"
              >
                <span
                  label="Скидка" 
                >
                  Скидка: {{order.User.Discount}}
                </span>
              </v-col>
            </v-card>
          </v-row>
          <v-spacer></v-spacer>
          <v-row
            class="my-5 justify-center"
          >
            <v-card
              v-for="(item, i) in order.Items"
              :key="`product-${i}`"
              class="mb-2"
            >
              <v-layout fill-height>
                <v-flex pa-3>
                  <v-layout
                    align-space-around
                    justify-space-around
                    fill-height
                    column
                  >
                    <v-flex>
                      <div class="headline">{{ item.Product.Name }} ( {{ item.Product.Code }} )</div>
                      <v-divider></v-divider>
                    </v-flex>
                    <v-flex xs1>
                      <div class="">Цена: {{ item.ItemPrice }}</div>
                    </v-flex>
                    <v-flex xs1>
                      <div class="">Категория: {{ item.Product.Category }}</div>
                    </v-flex>
                    <v-flex xs1>
                      <div class="">Количесто: {{ item.ItemsCount }}</div>
                    </v-flex>
                    <v-flex xs1>
                      <div class="">Сумма: {{ item.ItemsCount * item.ItemPrice }}</div>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-card>
          </v-row>
        </v-container>
        <small>
        </small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn 
          color="blue darken-1" 
          text 
          @click="dialog = false"
        >
          Закрыть
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'OrderModal',
    props: {
      title: '',
      orderId: null
    },
    methods: {
      async getOrder () {
        this.order = await this.$store.dispatch('GET_ORDER', this.orderId)
      }
    },
    data: () => ({
      dialog: false,
      order: {
        Id: '',
        OrderDate: '',
        ShipmentDate: '',
        OrderNumber: 0,
        Stutus: '',
        User: {
          Id: '',
          CustomerId: '',
          Email: '',
          Username: '',
          Name: '',
          Code: '',
          Address: '',
          Discount: 0.0,
        },
        Items: [{
          Id: '',
          ItemsCount: 0,
          ItemPrice: 0.0,
          Product: {
            Id: '',
            Code: '',
            Name: '',
            Price: 0.0,
            Category: ''
          }
        }]
      }
    }),
  }
</script>