<template>
  <v-layout
    justify-center
    wrap
    row
    pt-4
  >
    <v-flex xs9>
      <v-select
        :items="items"
        label="Фильтр"
        v-model="filter"
        solo
      ></v-select>
      <v-text-field
        solo
        hide-details
        prepend-inner-icon="mdi-magnify"
        label="Поиск"
        v-model="searchString"
        @keyup.enter="search"
      />
      
      <v-row
        class="mx-5 my-5"  
      >
        <product-modal 
          v-if="isAdmin && test" 
          v-bind="{ title: 'Добавить', method: create }"
        />
      </v-row>
      <v-card
        v-for="(product, i) in products"
        :key="`product-${i}`"
        class="mb-2"
      >
        <v-layout fill-height>
          <v-flex pa-3>
            <v-layout
              align-space-around
              justify-space-around
              fill-height
              column
            >
              <v-flex>
                <div class="headline">{{ product.Name }}</div>
                <v-divider></v-divider>
              </v-flex>
              <v-flex xs1>
                <div class="">Код: {{ product.Code }}</div>
              </v-flex>
              <v-flex xs1>
                <div class="">Цена: {{ product.Price }}</div>
              </v-flex>
              <v-flex xs1>
                <div class="">Категория: {{ product.Category }}</div>
              </v-flex>

              <v-card
                class="d-flex justify-end"
                flat
                tile
              >
                    <add-basket-modal
                      v-if="!isAdmin && isAuth"
                      v-bind="{
                        title: 'Добавить в корзину',
                        product: product,
                        method: addOrderItem
                      }"
                    >
                    </add-basket-modal>

                    <product-modal
                      v-if="isAdmin && test"
                      v-bind="{
                        name: product.Name, 
                        price: product.Price, 
                        category: product.Category,
                        id: product.Id,
                        code: product.Code,
                        title: 'Изменить',
                        method: edit
                      }"
                    />
                    <v-btn
                      v-if="isAdmin && test"
                      class="mx-5"
                      color="error"
                      @click="$store.dispatch('DELETE_PRODUCT', product.Id)"
                    >
                      Удалить
                    </v-btn>
              </v-card>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-card>
      <v-flex
        class="my-10 d-flex justify-center"  
      >
      <v-btn 
        xs10
        class="mx-2"
        color="info"
        outlined
        @click="page = 1; getProducts()"
      >
        1
      </v-btn>
      <v-btn 
        xs10
        v-if="page - 1 > 1"
        class="mx-2"
        color="info"
        outlined
        @click="page -= 1; getProducts()"
      >
        {{page - 1}}
      </v-btn>
      <v-btn 
        xs10
        v-if="page != 1 && page != pages"
        class="mx-2"
        color="info"
        outlined
      >
        {{page}}
      </v-btn>
      <v-btn 
        xs10
        v-if="page + 1 < pages"
        class="mx-2"
        color="info"
        outlined
        @click="page += 1; getProducts()"
      >
        {{page + 1}}        
      </v-btn>
      <v-btn 
        xs10
        v-if="page < pages"
        class="mx-2"
        color="info"
        outlined
        @click="page = pages; getProducts()"
      >
        {{pages}}
      </v-btn>
      </v-flex>
    </v-flex>
  </v-layout>
</template>

<script>
import ProductModal from '@/components/ProductModal'
import AddBasketModal from '@/components/AddBasketModal'

export default {
  name: 'Products',
  props: {
    test: Boolean
  },
  components: {
      ProductModal,
      AddBasketModal
  },
  computed: {
    products () {
      return this.$store.getters.PRODUCTS
    },
    isAdmin () {
      return this.$store.getters.AUTH.isAdmin
    },
    isAuth () {
      return this.$store.getters.AUTH.isAuth
    }
  },
  created () {
    this.getProducts()
  },
  methods: {
    async getProducts () {
      await this.$store.dispatch('GET_PRODUCTS', this.page)
      this.pages = this.$store.getters.PAGES
    },
    async create (payload) {
      await this.$store.dispatch('SAVE_PRODUCT', payload)
    },
    async edit (payload) {
      await this.$store.dispatch('UPDATE_PRODUCT', payload)
    },
    addOrderItem (payload) {
      if (payload.count < 1) {
        alert('Количество должно быть больше 0')
        return true
      }

      this.$store.dispatch('SET_ITEM', payload)

      return false
    },
    async search () {
      if (this.filter === '')
        return;

      await this.$store.dispatch('SEARCH_PRODUCT', { filter: this.filter, searchString: this.searchString})
      this.pages = this.$store.getters.PAGES
    }
  },
  data: () => ({
    page: 1,
    pages: 1,
    searchString: '',
    filter: 'Название',
    items: ['Код', 'Категория', 'Название']
  })
}
</script>
