<template>
  <v-dialog 
    v-model="dialog" 
    persistent 
    max-width="600px"
  >
    <template 
      v-slot:activator="{ on }"
    >
      <v-btn 
        color="info" 
        outlined
        v-on="on"
      >
        {{ title }} 
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span 
          class="headline"
        >
          Продукт {{ product.code }}
        </span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            
            <v-col 
              cols="12"
            >
              <v-text-field 
                label="Наименование" 
                required
                v-model="product.name"
              >
              </v-text-field>
            </v-col>
            <v-col 
              cols="12"
            >
              <v-text-field 
                label="Цена" 
                required
                type="number"
                v-model="product.price"
              >
              </v-text-field>
            </v-col>
            <v-col 
              cols="12"
            >
              <v-text-field 
                label="Категория" 
                required
                v-model="product.category"
              >
              </v-text-field>
            </v-col>
            
          </v-row>
        </v-container>
        <small>
        </small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn 
          color="blue darken-1" 
          text 
          @click="dialog = false"
        >
          Закрыть
        </v-btn>
        <v-btn 
          color="blue darken-1" 
          text 
          @click="method(product); dialog=false"
        >
          Сохранить
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'ProductModal',
    props: {
      id: '',
      name: '',
      price: 0.0,
      category: '',
      code:'',
      method: Function,
      title: ''
    },
    created () {
      this.product = {
        name: this.name,
        price: this.price,
        category: this.category,
        code: this.code,
        id: this.id
      }
    },
    data: () => ({
      dialog: false,
      product: null
    }),
  }
</script>