<template>
  <v-dialog 
    v-model="dialog" 
    persistent 
    max-width="600px"
  >
    <template 
      v-slot:activator="{ on }"
    >
      <v-btn 
        color="info" 
        outlined
        v-on="on"
      >
        {{ title }} 
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span 
          class="headline"
        >
          
        </span>
      </v-card-title>
      <v-card-text>
        <v-container
        	class="fill-height"
        	fluid
      	>
					<v-col 
						cols="12"
					>
						<v-text-field
							label="Email"
							name="email"
							type="text"
							v-model="user.email"
						/>
					</v-col>
					<v-col 
						cols="12"
					>
						<v-text-field
							label="Имя"
							name="email"
							type="text"
							v-model="user.name"
						/>
					</v-col>
					<v-col 
						cols="12"
					>
						<v-text-field
							label="Адрес"
							name="email"
							type="text"
							v-model="user.address"
						/>
					</v-col>
					<v-col 
						cols="12"
					>
						<v-text-field
							id="password"
							label="Пароль"
							name="password"
							type="password"
							v-model="user.password"
						/>
					</v-col>
					<v-col 
						cols="12"
					>
						<v-text-field
							id="confirmPassword"
							label="Подтверждение пароля"
							name="confirmPassword"
							type="password"
							v-model="user.confirmPassword"
						/>
					</v-col>
      </v-container>
        <small>
        </small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn 
          color="blue darken-1" 
          text 
          @click="dialog = false"
        >
          Закрыть
        </v-btn>
        <v-btn 
          color="blue darken-1" 
          text 
          @click="method(user ); 
						dialog=false"
        >
          Сохранить
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'RegisterModal',
    props: {
      method: Function,
			title: '',
    },
    data: () => ({
			dialog: false,
			user: {
        email: '',
        name: '',
        address: '',
        password: '',
        confirmPassword: '',
			}
    }),
  }
</script>