<template>
  <v-layout
    justify-center
    wrap
    row
    pt-4
  >
    <v-flex xs9>
      <v-row
        class="mx-5 my-5"  
      >
        <!-- регистрация -->
        <register-modal 
          v-bind="{
            title: 'Регистрация',
            method: register
          }"
        />
      </v-row>
      <v-card
        v-for="(user, i) in users"
        :key="`order-${i}`"
        class="mb-2"
      >
        <v-layout fill-height>
          <v-flex pa-3>
            <v-layout
              align-space-around
              justify-space-around
              fill-height
              column
            >
              <v-flex>
                <div class="headline">{{user.Email}}</div>
                <v-divider></v-divider>
              </v-flex>
              <v-flex xs1>
                <div class="">Роль: {{ user.Roles[0] }}</div>
              </v-flex>

              <v-card
                class="d-flex justify-end"
                flat
                tile
              >
                    <!-- кнопочки -->
                <user-modal
                  v-bind="{
                    method: editUser,
                    title: 'Редактировать',
                    userId: user.Id
                  }"
                />
                <v-btn
                    class="mx-5"
                    color="error"
                    @click="$store.dispatch('DELETE_USER', user.Id)"
                  >
                    Удалить
                  </v-btn>
              </v-card>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-card>
      <v-flex
        class="my-10 d-flex justify-center"  
      >
      <v-btn 
        xs10
        class="mx-2"
        color="info"
        outlined
        @click="page = 1; getUsers()"
      >
        1
      </v-btn>
      <v-btn 
        xs10
        v-if="page - 1 > 1"
        class="mx-2"
        color="info"
        outlined
        @click="page -= 1; getUsers()"
      >
        {{page - 1}}
      </v-btn>
      <v-btn 
        xs10
        v-if="page != 1 && page != pages"
        class="mx-2"
        color="info"
        outlined
      >
        {{page}}
      </v-btn>
      <v-btn 
        xs10
        v-if="page + 1 < pages"
        class="mx-2"
        color="info"
        outlined
        @click="page += 1; getUsers()"
      >
        {{page + 1}}        
      </v-btn>
      <v-btn 
        xs10
        v-if="page < pages"
        class="mx-2"
        color="info"
        outlined
        @click="page = pages; getUsers()"
      >
        {{pages}}
      </v-btn>
      </v-flex>
    </v-flex>
  </v-layout>
</template>

<script>
import UserModal from '@/components/UserModal'
import RegisterModal from '@/components/RegisterModal'

export default {
  name: 'Users',
  props: {
    test: Boolean
  },
  components: {
    UserModal,
    RegisterModal
  },
  computed: {
    users () {
      return this.$store.getters.USERS
    }
  },
  created () {
    this.getUsers()
  },
  methods: {
		async getUsers () {
			await this.$store.dispatch('GET_USERS', this.page)
			this.pages = this.$store.getters.U_PAGES
    },
    async editUser (paylaod) {
      await this.$store.dispatch('EDIT_USER', paylaod)
    },
    async register (paylaod) {
        await this.$store.dispatch('REGISTER', paylaod)
        this.getUsers()
      }
  },
  data: () => ({
    page: 1,
    pages: 1
  })
}
</script>
