<template>
  <v-dialog 
    v-model="dialog" 
    persistent 
    max-width="600px"
  >
    <template 
      v-slot:activator="{ on }"
    >
      <v-btn 
        color="info" 
        outlined
        v-on="on"
				@click="getUser()"
      >
        {{ title }} 
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span 
          class="headline"
        >
          
        </span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
           <v-col 
              cols="12"
            >
              <v-text-field 
                label="Email" 
                required
                v-model="user.Email"
              >
              </v-text-field>
            </v-col>
           <v-col 
              cols="12"
            >
              <v-text-field 
                label="Роль" 
                required
                v-model="user.Role"
              >
              </v-text-field>
            </v-col>
           <v-col 
              cols="12"
            >
              <v-text-field 
                label="Имя" 
                required
                v-model="user.Name"
              >
              </v-text-field>
            </v-col>
            <v-col 
              cols="12"
            >
              <v-text-field 
                label="Адрес" 
                required
                v-model="user.Address"
              >
              </v-text-field>
            </v-col>
            <v-col 
              cols="12"
            >
              <v-text-field 
                label="Скидка" 
                required
								type="number"
                v-model="user.Discount"
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <small>
        </small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn 
          color="blue darken-1" 
          text 
          @click="dialog = false"
        >
          Закрыть
        </v-btn>
        <v-btn 
          color="blue darken-1" 
          text 
          @click="method(user ); 
						dialog=false"
        >
          Сохранить
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'UserModal',
    props: {
      method: Function,
			title: '',
			userId: ''
    },
    methods: {
			async getUser () {
				this.user = await this.$store.dispatch('GET_USER', this.userId)
			}
    },
    data: () => ({
			dialog: false,
			user: {
				Id: '',
				CustomerId: '',
				Email: '',
				Role: '',
				Name: '',
				Address: '',
				Discount: 0.0
			}
    }),
  }
</script>