<template>
  <v-app id="app">
    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="blue darken-3"
      dark
    >
      <v-toolbar-title
        style="width: 300px"
        class="ml-0 pl-4"
      >
        <v-btn 
          color="transparent"
          elevation=0
          to="/"
        >
          Магазин
        </v-btn>
      </v-toolbar-title>
      <v-spacer />
      <v-btn 
        v-if="!isAdmin && isAuth"
        to="/basket"
        icon
      >
      <v-badge
        v-model="show"
        color="error lighten-2"
        :left=true
        class="align-self-center"
      >
          <template 
            v-slot:badge
          >
            {{ itemsCount }}   
          </template>
          <v-icon
            @mouseover="show = true"
            @mouseout="show = false"
          >
            mdi-basket
          </v-icon>
        </v-badge>
      </v-btn>
      <v-btn 
        v-if="isAuth"
        @click="logout()"
        to="/"
        icon
      >
        <v-icon>mdi-exit-to-app</v-icon>
      </v-btn>
      <v-btn 
        to="/account"
        icon
      >
        <v-icon>mdi-account</v-icon>
      </v-btn>
    </v-app-bar>
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
      <router-view />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
  },
  computed: {
    isAdmin () {
      return this.$store.getters.AUTH.isAdmin
    },
    isAuth () {
      return this.$store.getters.AUTH.isAuth
    },
    itemsCount () {
      return this.$store.getters.ITEMS.length
    }
  },
  methods: {
    async logout () {
      await this.$store.dispatch('LOGOUT')
    }
  },
  data: () => ({
    show: false,
    searchString: ''
  })
}
</script>
