<template>
  <v-content>
    <v-container
    class="fill-height"
    fluid
    >
      <v-card>
        <v-navigation-drawer
          v-model="drawer"
          :mini-variant.sync="mini"
          permanent
        >
          <v-list-item>
            <v-list-item-title>Меню</v-list-item-title>

            <v-btn
              icon
              @click.stop="mini = !mini"
            >
              <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
          </v-list-item>

          <v-divider></v-divider>

          <v-list dense>
            <v-list-item
              v-for="item in items"
              :key="item.title"
              link
              @click="currentItem = item"
            >
              <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>
      </v-card>
      <v-layout>
        <v-flex >
            <router-view />
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
export default {
  name: 'AccountPage',
    
  components: {
  },
  created() {
    if (this.$store.getters.AUTH.isAdmin)
      this.items = [
        { title: 'Продукты', icon: 'mdi-home-city', link: 'product-list', params: { test: true } },
        { title: 'Заказы', icon: 'mdi-account', link: 'orders' },
        { title: 'Пользователи', icon: 'mdi-account-group-outline', link: 'users' },
      ]
    else this.items = [
      { title: 'Заказы', icon: 'mdi-account', link: 'orders' },
    ]
  },
  watch: {
    currentItem: {
      handler: function(newVal, oldVal) { 
        this.$router.push({ name: newVal.link, params: newVal.params })
      },
      deep: true
    }
	},
  data () {
		return {
			drawer: true,
			items: null,
			mini: true,
			currentItem: null,
		}
	},
}
</script>